@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 111 186 136;
    --color-secondary: 78 130 108;
    --color-tertiary: 229 255 244;
    --color-quaternary: 204 255 233;
    --color-quinary: 255 255 255;
  }
}
